.conference-description {
    padding: 5% 0;
    
    .conference-description__text {
        font-size: $font-size-x-large;
        color: $black;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
    }
}