.participations-section {
    @include flex-row;
    padding: 0 10% 2%;
    color:  $white;
    height: 150px;

    .participations-section__item {
        text-align: center;

        p {
            margin: 0;
        }

        .participations-section__item__number {
            font-size: $font-size-xx-large;
        }

        .participations-section__text {
            font-size: $font-size-large;
        }
    }
}