//colors
$white:     #fff;
$rose:      #992142;
$dark-red:  #63051f;
$dark-blue: #0f163b;
$black:     #000;

$font-stack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

//basic sizes
$font-size-small:   14px;
$font-size-normal:  16px;
$font-size-medium:  20px;
$font-size-large:   24px;
$font-size-x-large: 28px;
$font-size-xx-large:48px;

//media
$media-1280: "only screen and (max-width : 1280px)";








