.event-section {
    margin-top: 50px;
    background: url('../img/setcon2016_hero.png') center no-repeat;
    height: 500px;
    width: 100%;

    @media #{$media-480} {
        height: 250px;
    }

    .event-section__content {
        text-align: center;
        padding: 5% 0;

        .event-section__content__logo {
            padding-top: 2%;

            @media #{$media-480} {
                width: 50%;
            } 
        }

        .event-section__content__text {
            color: $white;
            font-size: $font-size-large;
            padding:  5% 0;

            p {
                margin: 0;
            }
        }
    }
}