.main-footer {
    .main-footer__image {
        background: url('../img/setcon2016_hero.png') center no-repeat;
        height: 300px;
        width: 100%;

        @media #{$media-780} {
            height: 200px;
        }
    }

    .main-footer__sloping-block {
        position: relative;
        z-index: $z-index-normal;
    }

    .main-footer__info {
        @include flex-row;
        color: $white;
        font-size: $font-size-small;
        height: 50px;
        justify-content: center;
        flex-wrap: wrap;

        .main-footer__info__email {
            color: $white;
            padding: 0 5px;
        }
    }
}