.main-footer {
    .main-footer__image {
        background: url('../img/setcon2016_hero.png') center no-repeat;
        height: 300px;
        width: 100%;
        text-align: center;

        .logos{
            padding-top: 2%;

            @media #{$media-780} {
                padding-top: 0%;
            }

            @media #{$media-480} {
                padding-top: 10%;
            }
        }

        .epam_logo {
            height: auto;
            width: 200px;

            @media #{$media-480} {
                width: 150px;
            }
        }

        img{
            vertical-align: middle;
        }

        .jetbrains_logo {
            height: auto;

            @media #{$media-780} {
                width: 200px;
            }

            @media #{$media-480} {
                width: 150px;
            }
        }

        @media #{$media-780} {
            height: 200px;
        }
    }

    .main-footer__sloping-block {
        position: relative;
        z-index: $z-index-normal;
    }

    .main-footer__info {
        @include flex-row;
        color: $white;
        font-size: $font-size-small;
        height: 50px;
        justify-content: center;
        flex-wrap: wrap;

        .main-footer__info__email {
            color: $white;
            padding: 0 5px;
        }
    }
}