.participations-section {
    color:  $white;
    height: 150px;

    .participations-section--wrapper {
        padding: 1% 10% 0;
        @include flex-row;
    }

    .participations-section__item {
        text-align: center;

        p {
            margin: 0;
        }

        .participations-section__item__number {
            font-size: $font-size-xx-large;
            font-weight: bold;
        }

        .participations-section__text {
            font-size: $font-size-large;
        }
    }
}