.participations-section {
    color:  $white;

    .participations-section--wrapper {
        padding: 1% 10% 2%;
        display: flex;

        .participations-section__row {
            @include flex-row-space-around;
            padding: 10px 0;
            
            @media #{$media-780} { 
                flex-direction: column;

                .participations-section__item {
                    padding-bottom: 5%;
                }
            }
        }

        @media #{$media-480} {
            flex-direction: column;
        }
    }

    .participations-section__item {
        text-align: center;

        p {
            margin: 0;
        }

        .participations-section__item__number {
            font-size: $font-size-xx-large;
            font-weight: bold;
        }

        .participations-section__text {
            font-size: $font-size-large;
        }
    }
}