@mixin sloped-block($direction, $color) {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.875rem;
    background: $color;
    right: 0;

    @if($direction =='main') {
        transform: skewY(0.9deg);
        bottom: 4px;
        @media #{$media-1280} { bottom: 0; }
    }
    //anti-diagonal
    @if($direction == 'anti') {
        top: 2px;
        transform: skewY(-0.9deg);
        @media #{$media-1280} { top: 0; }
    }

    pointer-events: none;
    transform-origin: 0 0;
    z-index: $z-index-low;
}

@mixin sloped-block-before($direction, $color) {
    &:before {
        @include sloped-block($direction, $color);
    }
}

@mixin sloped-block-after($direction, $color) {
    &:after {
        @include sloped-block($direction, $color);
    }
}

.main-diagonal--bottom-white {
    @include sloped-block-before('main', $white);
}

.main-diagonal--top-white {
    position: relative;
    @include sloped-block-after('main', $white);
}

.counter-diagonal--top-dark-red {
    position: relative;
    z-index: $z-index-normal;
    @include sloped-block-before('anti', $dark-red);
}

.counter-diagonal--top-white {
    position: relative;
    z-index: $z-index-normal;
    @include sloped-block-before('anti', $white);
}