.time-table-section {
  //margin-top: 3rem;
  padding: 0 10%;

  @media #{$media-1280} {
      padding: 0 5%;
  }
  
  @media #{$media-780} {
      padding: 0 1%;
  }

  h3{
    font-size: $font-size-normal;
    width: 52px;
    clear: left;
    color: #999;
    float: left;
    text-align: right;
    z-index: 1;
    font-weight: lighter;
    padding-top: 8px;
  }

  .registration {
    padding-top: 56px;

    @media #{$media-780} {
      padding-top: 106px;
    }
  }
  
  .time-table-section__anchor {
      position: relative;
      display: block;
      visibility: hidden;
      top: -50px;
  }

  .time-table-section__container {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 3px;
    border-left: 1px solid rgba(0,0,0,.10);
    margin: -1px 0 0 68px;
    overflow: auto;
    
    &:last-child {
        border-bottom: none;
    }

    .break {
      //background-color: $postel-yellow;
    }

    .time-table-section__container_inner {
      padding: 10px 0 0 15px;
      position: relative;

      .time-table-section__event__red-hall {
        width: 50%;
        float: left;

        @media #{$media-780} {
          width: 100%;
        }
      }

      .time-table-section__event__green-hall {
        width: 50%;
        overflow: hidden;

        @media #{$media-780} {
          width: 100%;
        }
      }

      .time-table-section__event {
        float: left;
        margin: 0 12px 12px 0;
        position: relative;
        padding: 9px;
        font-size: $font-size-large;
      }

      .red-hall,
      .green-hall {
        font-size: $font-size-small;
        text-transform: uppercase;
      }

        .time-table-section__event__details__container {
          clear: both;
          margin: 0 15px 20px;

          .time-table-section__event__details {
            border-left: 0;
            clear: left;
            padding: 5px 20px 5px 0;
            margin: 30px 0 0;

            .time-table-section__event__description {
              margin-bottom: 10px;
            }

            .time-table-section__event__person{
              width: 98%;
              text-align: left;
              float: left;
              position: relative;
              border-radius: 4px;
              margin: 0;
              padding: 0;

              .time-table-section__event__person__avatar{
                width: 100px;
                line-height: 40px;
                float: left;
                margin-right: 20px;
                border-radius: 300px;
                overflow: hidden;
                display: block;

                img {
                  height: 100px;
                  width: auto;
                  margin: 0 auto;
                  border: 2px solid rgba(0,0,0,.1);
                  border-radius: 300px;
                }
            }

              h2 {
                font-size: $font-size-normal;
                font-weight: 700;
                margin: 8px 0 3px;
              }

              .time-table-section__event__person__title {
                margin-bottom: 5px;
              }

              .time-table-section__event__person__bio {
                margin-left: 120px;
                margin-bottom: 20px;
                
                @media #{$media-480} {
                    margin-left: auto;
                }
              }
            }
          }
        }
    }
  }
}