//colors
$white:     #fff;
$rose:      #992142;
$dark-red:  #63051f;
$dark-blue: #0f163b;
$black:     #000;
$postel-yellow: #fffd67;
$postel-red:    #f3827f;
$postel-green:  #44f4c4;

$font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

//basic sizes
$font-size-small:   0.875rem;   //14px
$font-size-normal:  1rem;       //16px
$font-size-medium:  1.25rem;    //20px
$font-size-large:   1.5rem;     //24px
$font-size-x-large: 1.75rem;    //28px 
$font-size-xx-large:3rem;       //48px

//media
$media-1280: "only screen and (max-width : 1280px)";
$media-780: "only screen and (max-width:780px)";
$media-480: "only screen and (max-width : 480px)";

//z-index
$z-index-low: -2;
$z-index-normal: 1;
$z-index-high: 2;







