.venue-section {
    color: $white;
    padding: 3% 10%;
    font-size: 0;

     @media #{$media-480} {
        padding-top: 8%;
    }

    .venue-section__map__action {
        width: 95%;
        height: 250px;
        border: 3px solid $dark-red;
        overflow: hidden;
        float: left;

        @media #{$media-780} {
            width: 100%;
        }
        
        img { // fix google map's controls
            max-height: none !important;
        }
    }

    .venue-section__ibc {
        width: 50%;
        height: 250px;
        border: 3px solid $dark-red;
        overflow: hidden;

        background-image: url('../img/ibc.png');
        background-size: 100% 100%;

        @media #{$media-780} {
            width: 100%;
            height: 100%;
            min-height: 250px;
        }
    }

    .venue-section__map,
    .venue-section__description {
        display: inline-block;
        width: 50%;

        @media #{$media-780} {
            display: block;
            width: 100%;
        }
    }

    .venue-section__description {
        font-size: $font-size-medium;
        vertical-align: top;
        text-align: center;
    }
}

.start-time-section {
    color: $white;
    text-align: center;
    font-size: $font-size-large;
    padding-bottom: 1%;

    @media #{$media-480} {
        padding: 0;
    }
}


